# Servidor Node
PORT=3000

# Banco de dados (usado tanto pelo app quanto pelo docker-compose)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ws_pilates_app
DB_USER=ws_admin
DB_PASSWORD=senha_exemplo_aqui

# Certificado digital (seu app.js também usa)
CERT_PATH=./certificados/ws_pilates.pfx
CERT_PASSWORD=senha_do_certificado_exemplo_aqui